@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, "Apple Color Emoji", "Segoe UI Emoji";
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
